html{
    position: relative;
    min-height: 100%;
}

/*Background image*/
body{
    font-family : Arvo, serif;
    background: url("image.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

/*style jumbotron*/
.jumbotron{
    background-color: transparent;
    text-align: center;
    letter-spacing: 2.5px;
    padding: 10px;
    margin-top: 150px;
    color: #53181F;
}
/*buttons*/
.signup{
    margin-top: 50px;
    
}
.green{
/*    background-color: rgba(0,0,0,0.7);*/
/*    color:white;*/
    background-color: rgba(114,190,35,0.8);
}

.green:hover{
/*    background-color: rgb(0,0,0);*/
/*    color:white;*/
    background-color: rgb(114,190,35);
}


/*style the footer*/
.footer{
    color:white;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-top: 15px;
}

/*Navigation bar*/
.navbar-custom ,.footer{
/*  background-color: #171411;*/
    background-color: rgba(0,0,0,0.4);
/*  border-color: #040303;*/
    border-color: rgba(0,0,0,0.4);
/*
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#342e27), to(#171411));
  background-image: -webkit-linear-gradient(top, #342e27, 0%, #171411, 100%);
  background-image: -moz-linear-gradient(top, #342e27 0%, #171411 100%);
  background-image: linear-gradient(to bottom, #342e27 0%, #171411 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff342e27', endColorstr='#ff171411', GradientType=0);
*/
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #040303;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #040303;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #040303;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#040303), to(#211d19));
  background-image: -webkit-linear-gradient(top, #040303, 0%, #211d19, 100%);
  background-image: -moz-linear-gradient(top, #040303 0%, #211d19 100%);
  background-image: linear-gradient(to bottom, #040303 0%, #211d19 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff040303', endColorstr='#ff211d19', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #020202;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #040303;
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #040303;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}